*{
  max-width: 600px;
  margin: 0 auto;
  font-family:"poppins", sans-serif;
  clear: both;
  box-sizing: border-box;
}


.blog-preview:hover{
box-shadow: 2px 2px 2px #e8ebf0;
background-color:#343a40!important;
}
